.base: &base
  image: nvidia/cuda:12.2.0-devel-ubuntu22.04
  before_script:
    - ls -la /dev/nvidia* || echo "No GPU devices"
    - apt-get update -qq && apt-get install -y -qq cmake git

00-hello-world:
  <<: *base
  rules:
    - if: $CI_COMMIT_BRANCH == "submits/00-hello-world"
  script:
    - mkdir build && cd build
    - cmake .. -DCMAKE_BUILD_TYPE=Release
    - cmake --build . --target test_hello_world
    - ./test_hello_world

01-fibonacci:
  <<: *base
  rules:
    - if: $CI_COMMIT_BRANCH == "submits/01-fibonacci"
  script:
    - mkdir build && cd build
    - cmake .. -DCMAKE_BUILD_TYPE=Release
    - cmake --build . --target test_fibonacci
    - ./test_fibonacci
